.status {
    font-weight: bolder;
}
.stopped {
    color: #ff0300;
}

.running {
    color: #2dff00;
}
.no-status {
    color: #aaaaaa;
}
.nav-box {
    background-color: #484848;
    color: #9d9d9d;
}
.nav-box:hover {
    color: #9d9d9d;
}

.nav-btn {
    color: #9d9d9d;
    border-color: #484848;
    background-color: #484848;
}

.nav-btn:active {
    color: #9d9d9d;
    border-color: #484848;
    background-color: #484848;
}

.nav-btn:hover {
    background-color: #5d5d5d;
    border-color: #5d5d5d;
    color: #131313;
}

#navbar-buttons {
    margin-right: 10px;
}

#side-bar {

}