.object {
    background-color: #353535;
    color: #9d9d9d;
    font-size: 1.2em;
    font-weight: 600;
    padding: 5px 5px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.object  input {
    display: table-cell;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 34px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    color: black;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.content {
    padding: 5px;
    background-color: #272822;
    margin-bottom: 60px;
}