<!DOCTYPE html>
{{define "main"}}
<html lang="en">
<head>
    <title>{{.FileName}}</title>
    {{template "cssIncludes"}}
    <link href="/static/css/editor.css" rel="stylesheet" media="screen">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="/">Team 3637 Robot Manager</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <form id="navbar-buttons" class="navbar-form navbar-right">
            <button id="reset" type="button" class="btn nav-box nav-btn">Reset Robot</button>
            <p class="btn nav-box">Robot <span id="robot-status" class="status no-status">No Status</span></p>

            <p class="btn nav-box">MQTT <span id="mqtt-status" class="status no-status">No Status</span></p>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a id="autonomous" href="../../autonomous">Autonomous</a></li>
                <li><a id="ports" href="../../ports">Port</a></li>
                <li><a id="controls" href="../../controls">Controls</a></li>
                <li><a  id="settings" href="../../settings">Settings</a></li>
                <li><a id="logs" href="../../logs">Logs</a></li>
                <li><a id="binaries" href="../../binaries">Binaries</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-md-offset-2" style="padding: 0; background-color: #272822;">
            <div id="editor" style="background-color: #272822">{{.FileContent}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 nav-bottom">
            <button id="save" class="btn nav-box nav-btn" disabled>Save</button>
        </div>
    </div>
</div>
<script>
    var lang = '{{.Lang}}';
    var fileType = '{{.FileType}}';
</script>
{{template "editorJsIncludes"}}
<script src="/static/js/editor.js"></script>
</body>
</html>
{{end}}