{{define "cssIncludes"}}
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="Team 3637 Robot Manager"/>
<meta name="author" content="Team 3637"/>
<link href="/static/assets/icon.png" rel="shortcut icon"/>
<link href="/static/css/accordion.css" rel="stylesheet"/>
<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/static/css/dashboard.css" rel="stylesheet"/>
<link href="/static/css/main.css" rel="stylesheet"/>
{{end}}

{{define "jsIncludes"}}
<script src="/static/js/lib/require.js"></script>
<script>
    requirejs.config({
        baseUrl: '/static/js/lib',
        paths: {
            jquery: 'jquery-2.1.4.min',
            bootstrap: 'boostrap.min',
            json: 'jsoneditor.min',
            ko: 'knockout-3.4.0',
            mousetrap: 'mousetrap.min',
            ace: 'ace'
        }
    });
</script>
{{end}}
