<!DOCTYPE html>
{{define "main"}}
<html lang="en">
<head>
    <title>Settings</title>
    {{template "cssIncludes"}}
    <link href="/static/css/editor.css" rel="stylesheet" media="screen">
    <link href="/static/css/ports-config.css" rel="stylesheet"/>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="/">Team 3637 Robot Manager</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <form id="navbar-buttons" class="navbar-form navbar-right">
            <button id="reset" type="button" class="btn nav-box nav-btn">Reset Robot</button>
            <p class="btn nav-box">Robot <span id="robot-status" class="status no-status">No Status</span></p>

            <p class="btn nav-box">MQTT <span id="mqtt-status" class="status no-status">No Status</span></p>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <p id="folderViewExpand" class="glyphicon glyphicon-chevron-right hidden viewExpand"></p>
            <ul class="nav nav-sidebar">
                <li><p id="folderViewShrink" class="viewShrink">Folder View<span
                        class="glyphicon glyphicon-chevron-left"></span></p></li>
                <li><a id="autonomous" href="../../autonomous">Autonomous</a></li>
                <li><a id="ports" href="../../ports">Port</a></li>
                <li><a id="controls" href="../../controls">Controls</a></li>
                <li><a id="settings" href="../../settings">Settings</a></li>
                <li><a id="logs" href="../../logs">Logs</a></li>
                <li><a id="binaries" href="../../binaries">Binaries</a></li>
            </ul>
        </div>
        <div id="content" class="content col-md-8 col-md-offset-2">
            <form id="config" class="top-object" data-bind="template: { name: 'template', foreach: $data }">

            </form>
        </div>
        <div class="col-md-2 col-md-offset-10 rightbar">
            <p id="fileViewExpand" class="glyphicon glyphicon-chevron-left hidden viewExpand"></p>
            <div class="nav nav-rightbar">
                <p id="fileViewShrink" class="viewShrink"><span class="glyphicon glyphicon-chevron-right"></span>File
                    View</p>
                <form>
                    <div id="files" class="accordion" data-bind="foreach: files">
                        <div class="accordion">
                            <div class="accordion-section-title">
                                <a class="accordion-section-title-text"
                                   data-bind="attr: {href: '#accordion-'+$index()}, text: $data"></a>
                                <span class="selected-file glyphicon glyphicon-ok hidden"></span>
                            </div>
                            <div class="accordion-section-content"
                                 data-bind="attr: {id:'accordion-'+$index()}">
                                <a name="gui-edit" class="fileButton"
                                   data-bind="attr: {href: '/editor-gui/' + files.fileType + '/' + $data}">Edit -GUI</a>
                                <a name="edit" class="fileButton"
                                   data-bind="attr: {href: '/editor/' + files.fileType + '/' + $data}">Edit</a>
                                <a name="delete" class="fileButton"
                                   data-bind="attr: {href: 'javascript:deleteFile(\'' + $data + '\');'}">Delete</a>
                                <a name="download" class="fileButton"
                                   data-bind="attr: {href: '/file/' + files.fileType + '/' + $data}"
                                   download>Download</a>
                                <a name="select" class="fileButton"
                                   data-bind="attr: {href: 'javascript:selectFile(\'' + $data + '\');'}">Select</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="fileButtons">
                <button id="newFile" class="btn nav-box nav-btn" onclick="newFile('editor-gui')">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button id="uploadFile" class="btn nav-box nav-btn" onclick="$('#file').click()">
                    <span class="glyphicon glyphicon-upload"></span>
                </button>
                <form method="post" enctype="multipart/form-data">
                    <input id="file" type="file" name="file" class="hidden"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 nav-bottom">
            <div id="fileNameContainer" class="btn nav-box nav-btn form-inline">
                <button id="save" class="btn nav-box nav-btn">Save</button>
                <label for="fileName"></label>
                <input id="fileName" class="form-control"/>
            </div>
        </div>
    </div>
</div>
<script id="template" type="text/html">
    <div class="object">
        <!-- ko if: $data.hasOwnProperty("keys") -->
        <p data-bind="text: name"></p>
        <!--<span data-bind="text: name"></span>-->
        <!-- ko template: { name: 'template', foreach: keys } --><!-- /ko -->
        <!-- /ko -->
        <!-- ko if: !$data.hasOwnProperty("keys") -->
        <span data-bind="text: name"></span>
        <input data-bind="value: value" type="text"/>
        <!-- /ko -->
    </div>
</script>
{{template "jsIncludes"}}
<script src="/static/js/main.js"></script>
<script src="/static/js/files.js"></script>
<script src="/static/js/ports-config.js"></script>
</body>
</html>
{{end}}