<!DOCTYPE html>
{{define "main"}}
<html lang="en">
<head>
    <title>Team 3637 Robot Manager</title>
    {{template "cssIncludes"}}
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Team 3637 Robot Manager</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <form id="navbar-buttons" class="navbar-form navbar-right">
                <button id="reset" type="button" class="btn nav-box">Reset Robot</button>
                <p class="btn nav-box">Robot <span id="robot-status" class="status no-status">No Status</span></p>
                <p class="btn nav-box">MQTT <span id="mqtt-status" class="status no-status">No Status</span></p>
            </form>
        </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="autonomous">Autonomous</a></li>
                <li><a href="ports">Port</a></li>
                <li><a href="controls">Controls</a></li>
                <li class="active"><a href="settings">Settings</a></li>
                <li><a href="logs">Logs</a></li>
                <li><a href="binaries">Binaries</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        </div>
    </div>
</div>
{{template "jsIncludes"}}
<script src="../static/js/main.js"></script>
</body>
</html>
{{end}}